body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #edeef2;
    
}

.header {
    text-align: center;
    background-image: url("background2.jpg");
    background-size: 1920px 1166px;
    background-position-y: -440px;
    padding: 90px;
    line-height: 40px;
    transition: opacity 0.5s;
    font-size: 30px;
    position: relative; 
    color: #335561;
}

.profile-photo {
    width: 300px; 
    height: 300px;
    margin: 0 auto;
    /* border: 4px solid #fff;  */
    border-radius: 50%; 
    overflow: hidden;
    color: black;
}

.profile-photo img {
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.content {
    padding: 20px;
    background-color: white; 
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    margin-left: 25px;
}

.content p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 30px;
    text-align:justify;
}

.skillset{
    padding: 20px;
    padding-bottom: 40px;
    background-color: white; 
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skillset h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    margin-left: 25px;
}

.skillset p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 10px;
    text-align:justify;
}

.skillset li{
    font-size: 18px;
    color: black;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    text-align:justify;
}
 
.toolset {
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.toolset h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    margin-left: 25px;
}

.toolset p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 10px;
    text-align: justify;
}


.connect {
    padding: 20px;
    padding-bottom: 40px;
    background-color: white;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.connect h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    margin-left: 25px;
}

.connect p {
    font-size: 18px;
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 10px;
    text-align: justify;
}

.images {
    display: flex;
    flex-wrap: wrap;
}

.tool {
    flex: 1;
    padding: 10px;
    text-align: center;
}

.tool img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.tool p {
    font-size: 14px;
    margin-top: 5px;
    color: black;
}

.scrolling .header {
    opacity: 0;
    
}